.reaction-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.react-btn {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #fff;
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.fa-times {
    color: #E63946;
}

.fa-heart {
    color: #02c39a;
}

