<div class="container">
  <img
    style="
      width: 75vw;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
      position: fixed;
      z-index: 1;
    "
    src="assets/dating-background.svg"
    alt=""
  />
  <!-- header -->
  <div class="header">
    <div class="logo">
      <i class="fas fa-fire fire-icon"></i>
      <p>Tinder</p>
    </div>
    <i class="fas fa-bars bars-icon"></i>
  </div>
  <!-- introduce-text -->
  <div class="introduce-text">
    <span
      >By clicking Log In, you agree to our <a href="" id="terms">Terms</a> how
      we process your data in our <a href="" id="privacy">Privacy Policy</a> and
      <a href="" id="cookie">Cookie Policy</a></span
    >
  </div>
  <!-- loginbutton -->
  <div class="login-box">
    <div class="google-login">
      <i class="fab fa-google google-icon"></i>
      <a (click)="auth.googleSignin()">Log in with google</a>
    </div>
    <div class="facebook-login">
      <i class="fab fa-facebook facebook-icon"></i>
      <a>Log in with facebook</a>
    </div>
    <div class="phone-login">
      <i class="fas fa-comment-dots comment-icon"></i>
      <a>Log in with phone number</a>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
    <p>All photos are of models and used for illustrative purposes only</p>
  </div>
</div>
