.cards-box {
  position: fixed;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.cards-box .tinder-cards {
  width: 80%;
  height: 100%;
  position: absolute;
  display: flex;
  text-align: center;
  overflow: hidden;
  flex-direction: column;
  border-radius: 15px 15px;
}
.cards-box .tinder-cards .tinder-card {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #f8e8e8;
  overflow: hidden;
  position: absolute;
  /* will-change: transform; */
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;

}


/* reaction-box */
.reaction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.react-btn {
  font-size: 2rem;
  font-weight: bold;
  background-color: #fff;
  border: none;
  outline: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.fa-times {
  color: #E63946;
}

.fa-heart {
  color: #02c39a;
}

